.contenedor{
    height: 80vh;
    max-height: none;
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorLista{
    -webkit-box-shadow: 1px 0px 21px 5px rgba(0,0,0,0.92); 
    box-shadow: 1px 0px 21px 5px rgba(0,0,0,0.92);
    padding:2.5em;
    max-height: 70vh;
    word-wrap: break-word;
    overflow:auto;
}
.contenedor h2{
    padding:10px;
    font-family: 'Comfortaa', cursive;
    color:#000000;
    font-size:30px;
}

.contenedor input{
    padding:10px;
    font-size:18px;
    outline: none;
    font-family: 'Comfortaa', cursive;
    margin:10px;
    border:none;
    border-left: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    width:250px;
    transition:all 300ms ease;
}

.contenedor input:focus{
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.contenedor .tareas p{
    font-family: 'Comfortaa', cursive;
    margin:5px auto;
    padding:10px;
    font-size:16px;
    width: 250px;
    word-wrap: break-word;
    background:#fff;
    box-shadow:2px 1px #d3b6b6;
    cursor:pointer;
    font-weight: 600;
    transition:all 300ms ease;
}

.contenedor .tareas p i{
    margin:auto 3px;
    display: inline-block;
}

.contenedor .tareas p i::focus{
    color:#36d87a;
}

.contenedor .tareas p:hover{
    box-shadow:4px 4px #c7c7c7;
    background: #000000;
    color:#fff;
    text-decoration: line-through;
}


.info p{
    font-family: sans-serif;
    margin:5px auto;
    padding:10px;
    font-size:13px;
    background:#fff;
    max-width:250px;
}

.errorUF{
    color:darkred;
    border-bottom:1px solid darkred;
}

.tareas-asig{
    padding:10px;
    font-family: 'Comfortaa', cursive;
    font-size:17px;
}